h1 {
    text-align: center;
    color: brown;
    margin-bottom: 60px;
}

body {
    box-sizing: border-box;
    background-color: floralwhite;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;

}
.menu-container {
    background-color: oldlace;
    height: 700px;
    width: 350px;
    box-sizing: border-box;
    padding-right: 10px;
}

.menu-title {
    color: saddlebrown;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.menu-recipes {
    background-color: peachpuff;
    margin: 15px;
    height: 300px;
    box-sizing: border-box;
    padding-top: 50px;
    border: solid burlywood;
}
.recipes {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

#para-1, #para-2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#para-2 {
    padding-bottom: 30px;
}

#ajiaco-index {
    max-width: 600px;
    box-sizing: border-box;
    float: left;

}

.striking-img {
    border: solid burlywood;
    max-width: 645px;
    max-height: 360px;
    box-sizing: border-box;
    margin-left: 1100px;
    margin-top: -600px;
}

.ajiaco {
    width: 600px;
    margin-left: auto;

}

#ensalada-rusa {
    width: 600px;
    margin-left: auto;
}

#huevos {
    width: 500px;
    margin-left: auto;
}

#torta  {
    width: 600px;
    margin-left: auto;
}

.titulo-descripcion {
    text-align: center;
    text-transform: uppercase;
}

.titulo-ingredientes {
    text-align: center;
    text-transform: uppercase;
}

.titulo-preparacion {
    text-align: center;
    text-transform: uppercase;
}

.descripcion-ajiaco, .descripcion-ensalada, .descripcion-huevos, .descripcion-torta {
    background-color: antiquewhite;
    box-sizing: border-box;
    border: solid wheat;
    border-radius: 15px;
}

.descripcion-ajiaco, .descripcion-torta, .descripcion-ensalada {
    margin-bottom: 20px;
    width: 1050px;
    height: 200px;
    padding: 10px;
    margin-top: -300px;
}

.descripcion-huevos {
    margin-bottom: 20px;
    width: 1000px;
    height: 150px;
    padding: 10px;
    margin-top: -300px;
}


.ingredientes-ajiaco, .ingredientes-ensalada, .ingredientes-huevos, .ingredientes-torta {
    box-sizing: border-box;
    background-color: bisque;
    border: solid burlywood;
    border-radius: 8%;
}

.ingredientes-ajiaco {
    margin-top: 200px;
    width: 400px;
    padding: 12px;
}

.ingredientes-ensalada {
    margin-top: 200px;
    width: 450px;
    padding: 12px;
}

.ingredientes-huevos {
    margin-top: 200px;
    width: 350px;
    padding: 12 px;
}

.ingredientes-torta {
    margin-top: 200px;
    width: 500px;
    padding: 15px;
}

.preparacion-ajiaco, .preparacion-ensalada, .preparacion-huevos, .preparacion-torta {
    box-sizing: border-box;
    background-color: white;
    border: solid burlywood;
    border-radius: 15px;
}

.preparacion-ajiaco {
    width: 800px;
    margin-left: auto;
    margin-top: -350px;

}

.preparacion-ensalada {
    margin-left: auto;
    width: 700px;
    margin-top: -350px;

}

.preparacion-huevos {
    margin-left: auto;
    width: 700px;
    padding: 15px;
    margin-top: -200px;

}

.preparacion-torta {
    margin-left: auto;
    width: 600px;
    margin-top: -350px;
}   
